.pagination {
  justify-content: center;
  display: flex;
}

.activeLink {
  position: relative;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-right: 6px;

  color: #5876c5;

  @media screen and(min-width:1440px) {
    font-size: 20.8px;
    line-height: 25px;
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 5px;
    height: 1px;
    border: 1px solid #55699e;
    background: #55699e;
    border-radius: 1px;
    top: 25px;
    left: 0px;
    @media screen and (min-width: 1440px) {
      top: 37px;
      width: 8px;
    }
  }
}
.link {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
  margin-right: 6px;
  display: flex;

  color: rgba(56, 65, 93, 0.602109);
  @media screen and(min-width:1440px) {
    font-size: 20.8px;
    line-height: 25px;
  }
}
